:root {
  --f-size-base: 1rem;
  --f-weight-base: 300;
  --line-height-base: 1.2;

  --ff-head: "Montserrat", sans-serif;
  --ff-main: "Montserrat", sans-serif;

  --c-black: #000000;
  --c-white: #ffffff;
  --c-background: #f6f6f6;
  --c-primary: #707070;
  --c-grey: #f9f9f9;
  --c-dark-grey: #bfbfbf;
  --c-red: #ff1818;
  --t-duration: 0.4s;
}
