.filter {
  &__heading {
    display: flex;
    align-items: center;
    .icon {
      display: none;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }
  &__group {
    display: flex;
    align-items: center;
    span {
      display: block;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }
  .checkbox {
    margin-right: 0.25rem;
  }
  .checkbox:hover {
    cursor: pointer;
  }
  label {
    font-size: 0.75rem;
  }
  .field {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--c-primary);
    width: 100%;
    background: none;
  }

  .icon:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .filter {
    position: relative;
    &__group {
      display: flex;
      align-items: center;
      span {
        display: block;
        margin: 0.5rem 0.5rem 0.5rem 0;
      }
    }
    &__dropdown {
      position: absolute;
      left: 0;
      background: var(--c-background);
      border: 1px solid var(--c-primary);
      padding: 1rem;
      width: 200px;
    }
    &__heading {
      .icon {
        display: block;
      }
    }
    &__title {
      font-size: 16px;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }
}
