.footer {
  background-color: var(--c-black);
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  @media (max-width: 768px) {
    gap: 0.5rem;
  }
  a {
    text-decoration: none;
    color: var(--c-background);
    font-size: 14px;
  }
}
